.wrapper {
  margin-top: 1rem;
  width: 100%;
  min-height: 5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.center {
  display: flex;
  justify-content: center;
}

.btn {
  flex-grow: 1;
}

.testName {
  margin-bottom: 2rem;
}

@media (min-width: 1200px) {
  .btn {
    flex-grow: 0;
  }
}