.description {
  font-size: 0.8rem;
}
.card {
  width: 8.5rem;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  padding: 0.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  min-height: 8.5rem;
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap column;
}
.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 2.5rem;
  font-weight: 500;
  span {
    font-size: 0.8rem;
  }
}

.cardProperty {
  display: flex;
  align-items: center;
  span {
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .card {
    margin-right: 0;
  }
}

@media (min-width: 630px) {
  .cardContainer {
    justify-content: flex-start;
  }
}
.newCard {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}