.flex {
  display: flex;
}
.wrapper {
  border: 1px solid rgba(0,0,0, 0.2);
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.description {
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-grow: 1;
}

@media (min-width: 1200px) {
  .description {
    flex-grow: 0;
  }
}