html, body {
  margin: 0;
}

* {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

a, a:visited {
  color: #1976d2;
}

@media (min-width: 1200px) {
  * {
    font-size: 25px;
  }
}

.white {
  color: white;
}

.fz08 {
  font-size: 0.8rem;
}